/* CSS */
body {
    background-color: #2C2F33;
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
    color: #7289DA;
    font-size: 60px;
    font-weight: bold;
    margin-top: 20px;
}

h2 {
    font-size: 30px;
    color: #99AAB5;
    margin: 10px 0;
}

.container {
    width: 800px;
    margin:auto;
    background-color: #26292c;
    padding: 20px;
}

.info {
    background-color: #99AAB5;
    color: #26292c;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
}